$baseFontFamily: "Gulim", "Dotum", sans-serif;

$baseColor: white;
$textColor: midnightblue;

.app {
  text-align: center;
  color: $textColor;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.app-text {
  font-family: $baseFontFamily;
  color: $baseColor;
}

.app img {
  width: 50px;
}

.app .count {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
}
